<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="com/lssemail/garden/book/mybatis/config.properties"></properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/lssemail/garden/book/mapper/BookMapperXml.xml"/>
        <mapper resource="com/lssemail/garden/book/mapper/AuthorMapper.xml"/>
        <mapper resource="com/lssemail/garden/book/mapper/BlogMapper.xml"/>
        <mapper resource="com/lssemail/garden/book/mapper/PostTagMapper.xml"/>
        <mapper resource="com/lssemail/garden/book/mapper/TagMapper.xml"/>
        <mapper resource="com/lssemail/garden/book/mapper/PostMapper.xml"/>
    </mappers>
</configuration>